<footer id="footer" class="lk">

    <div class="footer_line">
        <div>
            <i class="fas fa-envelope"></i>
            <a href="mailto:support@wealthview.info">support@wealthview.info</a>
        </div>
        <div>
            <a href="{% url 'articles-page' %}" class="ttu">СТАТЬИ</a>
            <span>|</span>
            <a href="{% url 'faq-page' %}" class="ttu">ПОДДЕРЖКА</a>
        </div>
        <div>
            <a href="#" class="ttu">бета-версия</a>
        </div>
    </div>

</footer>
</div>