/* отступы в левой колонке */
.left_sidebar {
    padding: 60px 0px;
    width: 285px;
    background: #22273a;
    flex-shrink: 0;
}

/* content block */
.content_block {
    padding: 25px 20px;
    background: #22273a;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 55px;
    box-shadow: 0px 0px 10px #1f2536;
}

/* lc */
.lc_common_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1 0 auto;
}

.lc_right_content {
    margin: 60px 20px 0px 20px;
    /*width: 100%;*/
    width: calc(100% - 325px);
}

.lc_left_header_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: relative;
}

.lc_right_content_container {
    width: 100%;
    padding: 0px 20px;
}

/* main_content */
.main_content {
    background: #f1f2f4;
    width: 100%;
    padding: 100px 0px;
}

/* main_content */
.av-main_content {
    overflow: hidden;
}

/* articles layout */
.common_art_block {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
    color: #000;
}

.left_cat_sidebar {
    width: 300px;
}

.left_cat_sidebar > div.lcs_fix {
    position: fixed;
    top: 50px;
    width: 300px;
}

.right_content_sidebar {
    width: calc(100% - 340px);
}

/* layout-two-cols */
.layout-two-cols {
    display: flex;
    flex-direction: column;
}

.layout-two-cols > div {
    width: 100%!important;
}

.layout-two-cols .layout-two-cols__right {
    display: flex;
    margin-left: -20px;
    width: calc(100% + 20px)!important;
}

.layout-two-cols__right > div {
    width: calc(50% - 20px);
    margin-left: 20px;
}

@media (max-width: 1199px) {
    .lc_common_block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .left_sidebar {
        width: 100%;
        padding: 0px;
    }

    .lc_left_header_block {
        width: 100%;
        margin-bottom: 0;
    }

    .lc_header_right_block {
        justify-content: flex-end;
        width: auto;
        margin-left: auto;
    }

    .lc_right_content {
        margin: 40px 0px;
        width: 100%;
    }

    .main_content {
        overflow: hidden;
        padding: 40px 0px;
    }

    .left_cat_sidebar, .right_content_sidebar {
        width: 100%;
        margin-bottom: 40px;
    }

    .common_art_block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .lcs_fix {
        position: relative!important;
        top: auto!important;
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .layout-two-cols_backtest-page .layout-two-cols__right {
        flex-direction: column;
        margin-left: 0;
        width: 100%!important;
    }

    .layout-two-cols_backtest-page .layout-two-cols__right > div {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content_block {
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        padding-top: 20px;
    }

    .content_block.bag {
        padding: 15px 20px;
    }

    .left_cat_sidebar {
        display: none;
    }

    .main_content {
        padding-top: 24px;
    }

    .lc_right_content {
        margin-top: 20px;
    }

    .layout-two-cols .layout-two-cols__right {
        margin-left: 0px;
        width: 100%!important;
        flex-direction: column;
    }

    .layout-two-cols__right > div {
        width: 100%;
        margin-left: 0px;
    }

    .lc_right_content_container_account {
        padding-left: 0;
        padding-right: 0;
    }
}