{% load static %}

<div id="change_settings_block" class="mfp-hide b-modal-change b-modal-default">
    <div class="login_block_title">
        Изменить пароль
        <button type="button" class="mfp-close"></button>
    </div>
    <div class="login_form_block">
        <form action="{% url 'change_password_success' %}" onsubmit="return valid_change_password_form()" id="change_password_form" class="login_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ email }}">
            <label>Пароль </label>
            <label>
                <input id="change_password1" class="form-control" type="password" name="password" placeholder="Введите пароль"
                       required>
                <small id="change_msg_1" class="form-text text-muted"></small>
            </label>
            <label>Повтор пароля </label>
            <label>
                <input id="change_password2" class="form-control required" type="password" name="change_password"
                       placeholder="Повторите введеный пароль" required>
                <small id="change_msg_2" class="form-text text-muted"></small>
            </label>
            <button id="change_password_btn" type="submit" class="btn">Применить</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static "utils/validate.js" %}"></script>
<script type="text/javascript" src="{% static "auth_sys/validate.js" %}"></script>
