{% load static %}

<div id="register_block"  class="mfp-hide b-modal-reg b-modal-default">
    <div class="login_block_title">
        Регистрация
        <button type="button" class="mfp-close"></button>
    </div>
    <div class="login_form_block">
        <form action="{% url 'signup' %}" id="register_form" onsubmit="return valid_registration_form()" class="login_form" method="post">
            {% csrf_token %}
            <label>Электронная почта </label>
            <label>
                <input id="email" class="form-control" type="text" name="email" placeholder="Введите ваш email" required>
                <small id="msg_email" class="form-text text-muted"></small>
            </label>
            <label>Пароль </label>
            <label>
                <input id="pass1" class="form-control" type="password" name="password" placeholder="Введите пароль"
                       required>
                <small id="msg_1" class="form-text text-muted"></small>
            </label>
            <label>Повтор пароля </label>
            <label>
                <input id="pass2" class="form-control required" type="password" name="password_repeat"
                       placeholder="Повторите введеный пароль" required>
                <small id="msg_2" class="form-text text-muted"></small>
            </label>
            <button id="signup" type="submit" class="btn"
            onclick="ga('send','event','btn','signup');ym(67583128,'reachGoal','signup'); return true;">Регистрация</button>
        </form>
    </div>
    <div class="register_block">
        <div class="login_with_line login_in_form_line">
            <div class="login_href"><a class="js-modal" href="#login_block">Войти</a></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "utils/validate.js" %}"></script>
<script type="text/javascript" src="{% static "auth_sys/validate.js" %}"></script>