{% extends "wrapper.html" %}

{% block login %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
            </div>
            <form action="/auth/signup/" method="post">
                {% csrf_token %}
                <div class="modal-body">
{#                    <input type="text" name="login" class="form-control search-pole" placeholder="Логин" style="height: 40px; margin: 3%; width: 94%">#}
{#                {{ form }}#}
                    <div>
                        <label for="id_username">Пароль:</label>
                        {{ form.password1 }}
                    </div>
                    <div>
                        <label for="id_username">Подтверждение:</label>
                        {{ form.password2 }}
                    </div>
                    {% if signup_error %}
                        <label class="text-danger">{{ signup_error }}</label>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-primary" value="Зарегистрироваться">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
