.about_line {
    width: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 100px -25px;
}

.about_line > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
    width: calc(33.3% - 50px);
    min-height: 250px;
    margin-left: 25px!important;
    margin-right: 25px!important;
}

.about_line > div:not(:last-child) {
    margin-right: 50px;
}

.about_line > div img {
    margin-bottom: 15px;
}

.about_line > div span {
    font-family: "OpenSans-Semibold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about_line > div p {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}

.about_line .blue_btn {
    min-width: 205px;
    text-align: center;
    margin-top: auto;
    margin-left: 0!important;
    margin-right: 0!important;
}

@media screen and (max-width: 1199px) {
    .about_line {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .about_line > div {
        width: 100%;
        min-height: 200px;
        margin-bottom: 60px!important;
        margin-left: 0!important;
        margin-right: 0!important;
        max-width: 50%;
    }

    .about_line > div:last-child {
        margin-bottom: 0!important;
    }

    .about_line > div p {
        margin-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    .about_line {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 40px 0px;
    }

    .about_line>div {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 989px) {
    .about_line > div:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .about_line > div span {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 7px;
    }

    .about_line > div p {
        font-size: 13px;
        line-height: 19px;
    }

    .av-main_content .about_line > div {
        width: 100%;
        max-width: 100%;
        margin-right: 0 !important;
        align-items: center;
    }

    .av-main_content .about_line > div p {
        text-align: center;
    }

}
