.about_block {
    background: #1f2335;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    padding: 300px 95px 100px 95px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.about_block > img {
    left: 50%;
    top: -75px;
    position: absolute;
    transform: translate(-50%, 0%);
    max-width: 100%;
}

.about_block:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -5%;
    background: #f1f2f4;
    height: 100px;
    width: 110%;
    border: none;
    transform: rotate(-4deg);
}

.about_block:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -5%;
    background: #f1f2f4;
    height: 100px;
    width: 110%;
    border: none;
    transform: rotate(-4deg);
}

.about_block .sd_desc p {
    text-align: left;
    line-height: 26px;
}

@media (max-width: 1199px) {
    .about_block {
        padding: 300px 35px 100px 35px;
    }
}

@media screen and (max-width: 767px) {
    .av-main_content .about_block > img {
        max-width: 280px;
    }

    .av-main_content .about_block {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 150px;
        margin-bottom: 30px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .about_block .sd_desc p {
        font-size: 13px;
        line-height: 21px;
    }
}