.all_title_block {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    background: url("../../img/all_title_bg.png") no-repeat;
    background-size: cover;
    padding: 70px 0px 60px 0px;
}

.all_title_block h1 {
    font-size: 50px;
    font-family: "OpenSans-Regular", sans-serif;
    margin: 0px 0px;
    margin-bottom: 15px;
    line-height: 1;
    text-transform: uppercase;
}

.all_title_block span {
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .all_title_block {
        padding: 30px 0;
    }

    .all_title_block h1 {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }
}