.articles_block > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
}

.article {
    padding-bottom: 30px;
    background: #1f2335;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(33.333% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
}

.article__footer {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 25px;
}

.article-link-back {
    margin-right: auto;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 15px;
}

.article-link-back::before, .article-link-back::after {
    display: none!important;
}

.right_content_sidebar .article.s_article {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.article_content {
    padding: 20px 20px 0px 20px;
    margin-bottom: 25px;
}

.date_line {
    font-family: "OpenSans-Regular", sans-serif;
    margin-bottom: 20px;
}

.article_text {
    text-align: left;
    line-height: 22px;
    font-size: 14px;
}

.article_text p {
    margin-bottom: 0;
    margin-top: 0;
}

.article_text img {
    display: block;
    max-width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    width: 100%;
    position: relative;
}

.thumbnail img {
    width: 100%;
    /*added*/
    height: 344px;
    object-fit: cover;
}

.related_line .thumbnail img {
    height: 181px;
}

.articles_block .thumbnail img {
    height: 262px;
}

.thumbnail span {
    position: absolute;
    display: block;
    width: 100%;
    padding: 15px 8px;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 15px;
    font-family: "OpenSans-Regular", sans-serif;
    bottom: 0;
    left: 0;
    text-align: center;
}

.article > a {
    margin-left: 20px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    margin-top: auto;
}

.more_articles {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "OpenSans-Regular", sans-serif;
    color: #000;
}

.more_articles img {
    margin-top: 10px;
}

.right_content_sidebar .article {
    width: 100%;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    align-items: flex-end;
    margin-bottom: 50px;
}

.right_content_sidebar .thumbnail span {
    background: #f0f0f0;
    color: #000;
    padding: 10px 15px;
    left: 0;
    bottom: -20px;
    display: inline-block;
    width: auto;
}

.right_content_sidebar .article_content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.right_content_sidebar .article_content span {
    margin: 20px 0px 30px 0px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: "OpenSans-Semibold", sans-serif;
}

.right_content_sidebar .article_content .article_text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
}

.right_content_sidebar .article > a {
    margin: 0px 20px 0px 0px;
}

.art_con_img_block {
    background: #fff;
    border: 15px solid #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 45px 0px;
}

.art_con_img_block img {
    max-width: 100%;
}

.around_img {
    margin: 45px 0px;
}

.around_img .art_con_img_block {
    margin-top: 0;
    margin-bottom: 0;
}

.date_publish {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
}

.related_articles_block {
    width: 100%;
}

.related_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.related_line a span {
    color: #000;
}

.related_line > div {
    width: calc(33.3333% - 13px);
    margin-top: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.related_line > div span {
    padding: 10px 15px;
    background: #ffffff;
    display: block;
    font-size: 14px;
    font-family: "OpenSans-Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.related_line > div .article_text {
    padding: 5px 15px 20px 15px;
    background: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.related_line > div .article_text p {
    margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
    .article {
        width: calc(50% - 30px) !important;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
    }

    /*.article {*/
        /*width: 100%;*/
    /*}*/

    .articles_block > div {
        margin-left: -15px;
        margin-right: -15px;
        flex-direction: row;
    }

    .right_content_sidebar .article {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .article {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .articles_block > div {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .thumbnail span {
        font-size: 13px;
        line-height: 19px;
    }

    .thumbnail img {
        height: 180px;
    }

    .article_content {
        padding: 14px;
        padding-bottom: 0;
        margin-bottom: 35px!important;
    }

    .date_line {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    .article {
        padding-bottom: 35px;
    }

    .article_text {
        font-size: 13px!important;
        line-height: 20px!important;
    }

    .article > a {
        font-size: 13px!important;
        line-height: 23px!important;
        letter-spacing: 0.02em;
        padding: 9px 23px;
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .right_content_sidebar .article {
        margin-bottom: 34px;
    }

    .right_content_sidebar .article_content span {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .right_content_sidebar .thumbnail span {
        display: none;
    }

    .article_text p {
        font-size: 13px;
        line-height: 20px;
    }

    .date_publish {
        font-size: 13px;
        line-height: 20px;
    }

    .related_line {
        flex-direction: column;
        justify-content: flex-start;
    }

    .related_line > div {
        margin-top: 34px;
        width: 100%;
    }

    .related_line > div span {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .related_line > div .article_text p {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
    }

    .article-link-back {
        display: flex;
    }
}