/* авторизованный юзер в шапке */
.av-auth {
    position: relative;
}

.av-auth__menu-logout {
    text-transform: none!important;
}

.av-auth__icon {
    width: 42px;
    height: 42px;
    background-color: #1a1d2b;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 20;
}

.av-auth__icon i {
    font-size: 15px;
}

.av-auth:hover .av-auth__icon i {
    color: #1a1d2b;
}

.av-auth .av-auth__icon i::before {
    content: '';
    background-image: url('/staticfiles/base/img/user_icon_white.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    display: block;
    width: 16px;
    height: 18px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.av-auth:hover .av-auth__icon i::before {
    background-image: url('/staticfiles/base/img/user_icon_black.svg');
}

.av-auth__icon.active i::before {
    background-image: url('/staticfiles/base/img/user_icon_black.svg');
}

.av-auth:hover .av-auth__icon {
    background-color: #fff;
    box-shadow: 0 0 0 5px #1a1d2b;
}

.av-auth__menu {
    position: absolute;
    right: 0;
    top: 30px;
    width: 320px;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
    transform: translate(0, 30px);
}

.av-auth__menu-wrap {
    padding: 20px;
    background-color: #1a1d2b;
    border-radius: 5px;
}

.av-auth__icon.active + .av-auth__menu {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: translate(0, 0);
}

.av-auth:hover .av-auth__icon.active i,
.av-auth__icon.active i {
    color: #1a1d2b;
}

.av-auth:hover .av-auth__icon.active,
.av-auth__icon.active {
    background-color: #fff;
    box-shadow: 0 0 0 5px #1a1d2b;
}

.av-auth__menu-logout {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.av-auth__menu-text {
    font-size: 14px;
    line-height: normal;
    text-align: center;
}

.av-auth__menu-text_bold {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.av-auth__menu-helper {
    font-size: 14px;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.av-auth__menu-helper a:hover {
    text-decoration: underline;
}

.av-auth__close {
    display: none;
}

@media (max-width: 767px) {
    .av-auth {
        display: flex;
        position: absolute;
        right: 15px;
    }

    .av-auth:hover .av-auth__icon i {
        color: #fff;
    }

    .av-auth:hover .av-auth__icon {
        background-color: #fff;
        box-shadow: none;
    }

    .av-auth__menu {
        position: fixed;
        top: 67px;
        right: 0;
        left: 0;
        width: 100%;
        padding-top: 0;
        height: calc(100vh - 67px);
    }

    .av-auth__menu-wrap {
        height: 100%;
        border-radius: 0;
        background: #22273A;
    }

    .av-auth__icon.active .av-auth__close {
        display: block;
    }

    .av-auth__icon.active i {
        display: none;
    }

    .av-auth:hover .av-auth__icon.active, .av-auth__icon.active {
        background: #22273A;
        box-shadow: none;
    }

    .av-auth__icon {
        position: absolute;
        right: 0;
    }

    .av-auth__icon.active {
        width: 72px;
        height: 67px;
        background: #232A3F;
        border-radius: 0;
        right: -15px;
    }

    .av-auth__menu-text_bordered {
        border-bottom: 0.5px solid #AEAEAE;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }

    .av-auth__menu-helper {
        text-align: center;
    }

    .av-auth {
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
    }
}

@media (max-width: 560px) {
    .av-auth {
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
    }

    .av-auth__menu {
        right: 0;
        left: 0;
        width: 100%;
    }
}