/* b-modal */
.b-modal .mfp-container, .b-modal-inner .mfp-container {
    padding: 0;
}

.b-modal .mfp-content {
    height: 100%;
}

.b-modal.mfp-ready .b-modal-default {
    right: 0;
    transition: all 0.2s;
}

button.mfp-close {
    position: relative;
    right: auto;
    top: auto;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: normal;
    opacity: 1;
    background-image: url("/staticfiles/base/img/icon-close.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
}

.b-modal-default {
    width: 450px;
    height: 100%;
    background: #2f303d;
    margin-left: auto;
    position: fixed;
    top: 0;
    right: -450px;
    overflow: auto;
    transition: all 0.2s;
}

.b-modal-menu.mfp-bg {
    opacity: 0!important;
    /*margin-top: 67px;*/
}

/*.b-modal-menu.mfp-wrap {*/
    /*margin-top: 67px;*/
/*}*/

.b-modal-menu.mfp-ready #mobile_menu_block {
    left: 0;
    transition: all 0.2s;
}

.b-modal-menu {
    transition: all 0.2s;
}

/* effect */
.b-modal.mfp-bg, .b-modal-menu.mfp-bg, .b-modal-inner.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.b-modal.mfp-bg.mfp-ready, .b-modal-menu.mfp-bg.mfp-ready, .b-modal-inner.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.b-modal.mfp-bg.mfp-removing, .b-modal-menu.mfp-bg.mfp-removing, .b-modal-inner.mfp-bg.mfp-removing {
    opacity: 0;
}

.b-modal.mfp-wrap .mfp-content, .b-modal-menu.mfp-wrap .mfp-content, .b-modal-inner.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.b-modal.mfp-wrap.mfp-ready .mfp-content, .b-modal-menu.mfp-wrap.mfp-ready .mfp-content, .b-modal-inner.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.b-modal.mfp-wrap.mfp-removing .mfp-content, .b-modal-menu.mfp-wrap.mfp-removing .mfp-content, .b-modal-inner.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.b-modal-ctn {
    padding: 50px 75px;
    background: #22273a;
    width: 100%;
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.b-modal-ctn_sm {
    max-width: 530px;
}

.b-modal-ctn .mfp-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
