/* таблица коэффициентов */
.b-table-coefficient {
    width: 100%;
}

.b-table-coefficient__info {
    margin-bottom: 25px;
}

.b-table-coefficient .about_line {
    justify-content: center;
    margin: 0;
}

.b-table-coefficient .about_line > div {
    margin: 0!important;
    min-height: 100%;
    width: auto;
}

.b-table-coefficient .about_line .about_line_separator {
    margin-left: 30px!important;
    margin-right: 30px!important;
}

.b-table-coefficient .about_line_teaser {
    align-items: center;
    display: flex;
    justify-content: center;
}

.b-table-coefficient .about_line_teaser_text {
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

.b-table-coefficient__ctn table tr td:first-child {
    width: 218px;
    text-align: right;
}

.b-table-coefficient .about_line_teaser_text span {
    display: block!important;
    font-size: 16px!important;
    font-family: 'OpenSans-Regular';
    text-transform: none;
    margin-top: 6px;
    margin-bottom: 0;
}

.b-table-coefficient .about_line_graph svg {
    transform: scale(.7);
}

.b-table-coefficient .about_line_graph {
    width: 250px!important;
    height: 185px!important;
    position: relative;
}

.b-table-coefficient .about_line_graph_number {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'OpenSans-Semibold';
    font-size: 55px;
    letter-spacing: 0.025em;
    color: #F1F2F4;

}

.b-table-coefficient__ctn table th  {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #F1F2F4;
    font-family: 'OpenSans-Semibold';
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 16px;
}

.b-table-coefficient__ctn table tr th:first-child {
    width: 200px;
}

.b-table-coefficient__ctn table tr td {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    color: #F1F2F4;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.b-table-coefficient__ctn-link-modal {
    margin-left: 20px;
}

.b-table-coefficient__ctn-link-modal img {
    max-width: 13px;
}


.b-table-coefficient__ctn .info_common_block {
    margin-left: 20px;
    flex-shrink: 0;
}

.b-table-coefficient__ctn table tr:nth-child(even) td {
    background: #1D2130;
}

.b-table-coefficient__ctn-flex-wrapper {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

@media (max-width: 1199px) {
    .b-table-coefficient .about_line {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .b-table-coefficient .about_line_graph_number {
        font-size: 40px;
        line-height: 64px;
    }

    .b-table-coefficient .about_line_teaser_text {
        font-size: 16px;
        line-height: normal;
    }

    .b-table-coefficient .about_line_teaser_text span {
        font-size: 12px!important;
        line-height: normal;
    }

    .b-table-coefficient .about_line_graph_number {
        bottom: 50px;
    }

    .b-table-coefficient .about_line .about_line_teaser {
        margin-top: -50px!important;
    }

    .b-table-coefficient__ctn {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: scroll;
    }

    .b-table-coefficient__ctn table {
        width: 100%;
        min-width: 620px;
    }

    .b-table-coefficient .about_line .about_line_separator {
        transform: rotate(90deg);
        position: absolute;
        top: 100px;
        margin: 0!important;
        justify-content: center;
    }

    .b-table-coefficient__info {
        margin-bottom: 40px;
    }

    .b-table-coefficient {
        max-width: 100%;
    }

    .b-table-coefficient .about_line {
        position: relative;
        flex-direction: column;
    }

    .b-table-coefficient .about_line .about_line_teaser {
        margin-top: -50px!important;
        min-width: 100%;
    }

    .b-table-coefficient .about_line_graph {
        max-width: 100%!important;
        width: 100%!important;
    }
}