.bag_nav_line {
    margin: 50px 0px;
    width: 100%;
}

.bag_nav_line .txt_line a, .bag_nav_line .txt_line label {
    text-align: center;
    max-width: 100%;
    width: 33.3%;
}

.txt_line {
    margin-bottom: 20px;
}

.txt_line,
.circle_line {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "OpenSans-Regular", sans-serif;
    position: relative;
}

.circle_line hr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, #fff 50%, #5d6273 50%);
    transform: translate(0%, -50%);
    margin: 0;
    z-index: -1;
}

.circle_line.save_rezult_circle_line hr {
    background: #fff;
}

.circle_line.sd_circle_line hr {
    background: linear-gradient(to right, #fff 17%, #5d6273 17%);
}

@media (max-width: 767px) {
    .txt_line a {
        max-width: 100px;
        text-align: center;
        font-size: 10px;
    }

    .txt_line {
        align-items: flex-end;
    }

    .bag_nav_line .txt_line a, .bag_nav_line .txt_line label {
        text-align: center;
        max-width: 100%;
        width: 33.3%;
        font-size: 10px;
    }
}