.bag_block {
    margin-bottom: 25px;
    width: 100%;
}

.bag_title_line {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bag_block_title {
    font-size: 13px;
    font-family: "OpenSans-Semibold", sans-serif;
    text-transform: uppercase;
}

.bag_col_2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bag_col_2 > div:first-child {
    width: calc(60% - 20px);
}

.bag_col_2 > div:last-child {
    width: 40%;
}

.bag_col_2 > div:last-child .bag_block_title {
    text-align: center;
    width: 100%;
}

@media (max-width: 1199px) {
    .bag_title_line {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .bag_block_title {
        margin-bottom: 20px;
    }

    .bag_col_2 {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .bag_col_2>div:first-child, .bag_col_2>div:last-child {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .bag_block_title {
        margin-bottom: 0;
    }
}