.category_block {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.category_title {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "OpenSans-Semibold", sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #c9ccd2;
}

.category_items .sidebar_item:first-child {
    margin-top: 30px;
}

.category_items .sidebar_item {
    margin-top: 20px;
}

.category_items .sidebar_item > div.sidebar_item_title,
.category_items .sidebar_item > div.sidebar_item_title:hover,
.category_items .sidebar_item > div.sidebar_item_title.active {
    border-left: none;
    background: #ffffff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
}

.category_items .sidebar_item > div.sidebar_item_title {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
}

.category_items .sidebar_item .sub_sidebar_item {
    background: transparent;
}

.category_items .treeCSS li.active,
.category_items .treeCSS li li:hover {
    color: #000;
}

.category_items .treeCSS li a.active div,
.category_items .treeCSS li a:hover div {
    color: #000;
}

.category_items .treeCSS {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .category_title {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        padding-bottom: 8px;
    }
}