.checkbox {
    padding-left: 10px;
    margin-bottom: 0.5em;
}

.checkbox_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.checkbox_line > div {
    position: relative;
    margin-right: 45px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.checkbox_line > div:first-child {
    margin-right: 30px;
}

.checkbox_line > div:last-child {
    margin-right: 15px;
}

.checkbox_line div hr {
    border: none;
    height: 1px;
    width: 40px;
    margin: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__text {
    position: relative;
    cursor: pointer;
}

.checkbox__text:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    background: transparent;
}

.checkbox__text:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: transparent;
    transition: 0.2s;
}

.checkbox input:checked + .checkbox__text:after {
    background: #fff;
}