#ui-datepicker-div {
    z-index: 10!important;
}

@media (max-width: 767px) {
    #ui-datepicker-div {
        width: calc(100% - 101px)!important;
    }

    .ui-widget.ui-widget-content {
        width: 280px!important;
    }
}