.faq_common_block {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #000;
}

.faq_left_block {
    width: 655px;
    max-width: 100%;
}

.faq_right_block {
    width: 470px;
    max-width: 100%;
}

.acc_item {
    margin-bottom: 30px;
}

.acc_title {
    font-size: 14px;
    font-family: "OpenSans-Regular", sans-serif;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    line-height: normal;
    background: #f7f7f7;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.sub_acc_item {
    padding: 25px 15px;
    font-size: 14px;
    line-height: 25px;
}

.sub_acc_item:not(.open) {
    display: none;
}

.sub_acc_item.show {
    display: block;
}

form.call_us {
    background: #f7f7f7;
    padding: 30px 40px;
}

.form_title {
    margin-bottom: 40px;
}

.form_title span {
    font-size: 18px;
    font-family: "OpenSans-Semibold", sans-serif;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form_title p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
}

.form_input_block {
}

.form_input_block label {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}

.form_input {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form_input input,
.form_input textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #e7e9ec;
    background: #f7f7f7;
    resize: none;
    margin: 0;
    color: #000;
}

.form_input img {
    position: absolute;
    top: 15px;
    right: 15px;
}

form.call_us button[type="submit"] {
    font-size: 13px;
    padding: 12px 35px;
    text-align: center;
    color: #fff;
    font-family: "OpenSans-Regular", sans-serif;
    border-radius: 24px;
    background: #495df3;
    border: none;
    cursor: pointer;
    width: auto;
    margin: 0;
    display: inline-block;
}

@media (max-width: 1199px) {
    .faq_right_block {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    form.call_us {
        padding: 20px 25px;
    }

    .acc_title {
        font-size: 12px;
        line-height: 16px;
    }

    .sub_acc_item {
        font-size: 12px;
        line-height: 20px;
    }

    .acc_item {
        margin-bottom: 5px;
    }

    .faq_right_block {
        margin-top: 20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.12);
    }

    .form_title span {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.025em;
        margin-bottom: 6px;
    }

    .form_title p {
        font-size: 13px;
        line-height: 18px;
    }

    .form_title {
        margin-bottom: 30px;
    }

    .form_input_block label {
        font-size: 13px;
        line-height: 17px;
    }

    form.call_us button[type="submit"] {
        padding: 10px 35px;
        font-size: 13px!important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}