#feedback_menu #telegram_img, #feedback_menu #whatsapp_img {
    background: none;
}

#feedback_menu img {
    margin-left: 0;
}

#feedback_button img {
    margin-left: 0;
}

.feedback_btn {
    position: fixed; /* Фиксированное положение */
    right: 18px; /* Расстояние от правого края окна браузера */
    bottom: 20px;
    padding: 15px 11px 15px 11px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}

.feedback_div {
    position: fixed; /* Фиксированное положение */
    right: 18px; /* Расстояние от правого края окна браузера */
    bottom: 80px;
    background: #1a1d2b;
    padding: 20px; /* Поля вокруг текста */
    border-radius: 5px;
}