#footer {
    padding: 23px 0px;
    position: relative;
    z-index: 9;
    background-color: #22273a;
}

#footer.lk {
    padding: 23px 25px;
    flex: 0 0 auto;
}

.footer_line {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.footer_line > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.footer_line > div i {
    margin-right: 10px;
}

.footer_line > div span {
    margin: 0px 10px;
}

.footer__mail a {
    font-size: 14px;
    line-height: 150%;
    color: #F1F2F4;
}

.footer__mail i {
    font-size: 14px;
}

.footer__nav a {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}

.footer__copy a {
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .footer_line>div {
        margin-bottom: 15px;
    }

    .footer_line {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    #footer.lk {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 767px) {
    .footer__mail a, .footer__nav a, .footer__copy a {
        font-size: 12px;
    }

    .footer_line > div:last-child {
        margin-bottom: 0;
    }

    .footer_line > div {
        font-size: 12px;
    }
}