.gb_line {
    width: 100%;
    background: #fff;
    height: 1px;
    border: none;
    margin: 0;
    width: 200px;
    max-width: 100%;
    position: relative;
    overflow: visible;
}

.gb_line.gb {
    background: linear-gradient(to right, #f23730 50%, #20c893 50%);
}

.gb_line.gbi {
    background: linear-gradient(to right, #20c893 50%, #f23730 50%);
}

.gb_line:before,
.gb_line:after {
    content: "";
    height: 4px;
    width: 1px;
    position: absolute;
    left: 5%;
}

.gb_line:before {
    top: -6px;
}

.gb_line:after {
    bottom: -6px;
}

.gb_line.pr:before,
.gb_line.pr:after {
    background: #f23730;
}

.gb_line.pg:before,
.gb_line.pg:after {
    background: #20c893;
}

.gb_line.l40:before,
.gb_line.l40:after {
    left: 40%;
}

.gb_line.l20:before,
.gb_line.l20:after {
    left: 20%;
}

.gb_line.l10:before,
.gb_line.l10:after {
    left: 10%;
}

.gb_line.l80:before,
.gb_line.l80:after {
    left: 80%;
}