#header {
    padding: 23px 0px;
    position: relative;
    z-index: 9;
    background-color: #22273a;
}

#header.page {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#header.lk {
    padding: 23px 25px;
    flex: 0 0 auto;
}

.header_line {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    line-height: 33px;
    font-family: 'OpenSans-Semibold';
    letter-spacing: 0.065em;
    color: #F1F2F4;
}

.header_right_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.header_right_block nav a {
    font-family: "OpenSans-Regular", sans-serif;
    margin-right: 20px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.lc_left_header_block #logo {
    margin-right: 100px;
}

.lc_header_right_block span {
    margin: 0px 10px;
    font-family: "OpenSans-Regular", sans-serif;
}

#header .blue_btn {
    letter-spacing: 0.025em;
    height: 42px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: 'OpenSans-Semibold';
}

.av-header .header_hamburger {
    display: none;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translate(0,-50%);
    height: 67px;
    width: 65px;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.av-header .header_hamburger.show {
    background: #22273A;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
}

.av-header .header_hamburger img {
    padding: 23px;
}

.av-header .header_hamburger .mobile_menu_btn_close {
    display: none;
}

@media (max-width: 1199px) {
    .header_line {
        flex-direction: row;
    }

    #header.lk {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 767px) {
    .header_right_block nav a {
        font-size: 12px;
    }

    .header_line nav {
        display: none;
    }

    .lc_left_header_block #logo {
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.065em;
    }

    .av-header {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #1D2439!important;
        padding: 21px 0!important;
    }

    .av-header .header_hamburger {
        display: flex;
    }

    .av-header.lk .header_hamburger {
        left: 0;
    }

    .av-header .blue_btn {
        display: none;
    }
}

@media (max-width: 560px) {
    .header_right_block>nav {
        margin-bottom: 15px;
    }
}