.iw_line_href {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    border: 1px solid #c4c7ce;
    width: fit-content;
}

.iw_line_href.blue_btn {
    color: #fff;
    border-bottom: none;
    padding: 0;
}

.iw_line_href div {
    /*padding: 10px 12px;*/
    padding: 10px 8px;
    font-size: 14px;
    color: #000;
}

.iw_line_href.blue_btn div {
    color: #fff;
    padding: 10px 30px;
}

.iw_line_href div:last-child {
    border-left: 1px solid #c4c7ce;
}

.iw_line_href.blue_btn div:last-child {
    padding: 10px 18px 10px 15px;
}

.iw_line_href.active {
    border: 1px solid #495df3;
}

.iw_line_href.active div:last-child {
    border-left: 1px solid #495df3;
}

@media (max-width: 1199px) {
    .iw_line_href {
        width: calc(50% - 20px);
        justify-content: space-between;
    }
}