.made_operation a {
    background: #495df3;
    border: 1px solid #495df3;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 12px;
}

.made_operation {
    text-align: right;
    flex-shrink: 0;
    margin-left: 20px;
}

.made_operation a {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .made_operation a {
        text-transform: none;
        font-size: 13px!important;
        line-height: 18px!important;
        letter-spacing: 0.025em;
        font-family: 'OpenSans-Semibold' !important;
    }

    .made_operation {
        margin-left: 0;
    }
}