.main_title_block {
    text-align: center;
    width: 100%;
}

.main_title_block h1 {
    font-size: 44px;
    font-family: "OpenSans-Regular", sans-serif;
    line-height: 1;
    margin-bottom: 25px;
    margin-top: 0;
    letter-spacing: 0.045em;
}

.main_title_block p {
    margin-bottom: 40px;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    line-height: 179.18%;
    letter-spacing: 0.005em;
    color: #F1F2F4;
}

.main_title_block a {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .av-promo .main_title_block h1 {
        line-height: 37px;
        font-size: 27px;
        letter-spacing: 0.045em;
        margin-bottom: 20px;
    }

    .av-promo .main_title_block p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 25px;
    }
}