.matrix_block {
    width: 100%;
}

.matrix_block td {
    text-align: center;
}

.matrix_block .table_block {
    overflow: auto;
}

@media (max-width: 1199px) {
    .matrix_block .table_block table td {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    .matrix_block {
        padding: 0;
        box-shadow: none;
    }

    .matrix_block .table_block {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }

}