.mo_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 35px;
}

.mo_line > div {
    width: 100%;
    margin-left: 30px;
}

.mo_line > div:first-child {
    margin-left: 0px;
}

@media (max-width: 1199px) {
    .mo_line>div {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .mo_line {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}