/* мобильное меню */
#mobile_menu_block {
    z-index: 99999;
    background: #22273A;
    width: 100% !important;
    height: calc(100vh - 66px);
    top: 66px;
    left: 0;
    position: fixed;
    left: -100%;
}

#mobile_menu_block:before {
    content: '';
    width: calc(100% - 65px);
    left: 65px;
    height: 1px;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    position: absolute;
}

#mobile_menu_block nav {
    height: 100%;
    overflow-y: scroll;
}

#mobile_menu_block nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#mobile_menu_block nav a {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-family: 'OpenSans-Semibold';
    padding: 15px 20px;
    display: block;
    border-bottom: 0.5px solid #AEAEAE;
}