.close_info,
.close_info1,
.close_btn {
    cursor: pointer;
}

#login_block > div,
#register_block > div,
#activate_block > div,
#change_settings_block > div,
#forget_password_block > div {
    padding: 35px 30px;
}

.login_block_title {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-family: "OpenSans-Semibold", sans-serif;
    border-bottom: 1px solid #747886;
    text-transform: uppercase;
}

.login_form_block {
    border-bottom: 1px solid #747886;
}

.login_form_block input,
#review_form input:not(.submit_input) {
    color: #000;
}

.login_form label {
    width: 100%;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1;
}

.login_form input {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 3px;
    height: 45px;
    font-size: 15px;
    font-family: "OpenSans-Semibold", sans-serif;
    padding: 0px 15px;
    margin-bottom: 23px;
}

.login_form .checkbox input {
    width: calc(100% - 60px);
}

.remember_lost_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 25px;
}

.remember_lost_line .checkbox__text:after {
    background: transparent;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 3px;
}

.remember_lost_line .checkbox__text:before {
    border: 1px solid #737373;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
}

.remember_lost_line .checkbox__text {
    padding-left: 35px;
    height: 21px;
    display: flex;
    align-items: center;
}

.remember_lost_line .checkbox__text,
.forget_password_href {
    font-size: 15px;
    font-family: "OpenSans-Regular", sans-serif;
}

.login_in_form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    border: 1px solid #686c7a;
    width: max-content;
}

.login_in_form span {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    padding: 11px 17px;
    text-align: center;
    border-right: 1px solid #686c7a;
}

.login_with_line.login_in_form_line > div {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    border: none;
}

.login_in_form img {
    padding: 12px 17px;
}

.login_form .remember_lost_line .checkbox {
    padding-left: 0;
    margin: 0;
}

.register_title {
    font-size: 18px;
    font-family: "OpenSans-Semibold", sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
}

.register_block p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
}

.register_href,
.login_href,
.to_mail_href,
.activate_href {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

.register_href a,
.login_href a,
.to_mail_href a,
.activate_href a {
    border: 1px solid #737373;
    border-radius: 3px;
    color: #fff;
    padding: 20px 40px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
}

.register_href a:hover,
.login_href a:hover,
.to_mail_href a:hover,
.activate_href a:hover {
    border: 1px solid #495df3;
    background: #495df3;
}

.login_with_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.login_with_line > div {
    border: 1px solid #737373;
    border-radius: 3px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.login_with_line > div div {
    padding: 12px 10px;
    border-right: 1px solid #737373;
    min-width: 50px;
    text-align: center;
}

.login_with_line > div img {
}

.login_with_line > div span {
    font-size: 13px;
    font-family: "OpenSans-Regular", sans-serif;
    margin: 0;
    padding: 0px 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.login_with_line > div span:hover {
    background: #495df3;
}

.modal_block {
    padding: 50px 75px;
    /*position: relative;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*transform: translate(-50%, calc(-50% + 0.87px));*/
    background: #22273a;
    width: 790px;
    max-width: 100%;
    z-index: 999;
    display: none;
}

.modal_title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "OpenSans-Semibold", sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #686c7a;
    width: 100%;
    margin-bottom: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.modal_title div {
    font-family: "MuseoSansCyrl-100", sans-serif;
    font-size: 13px;
    text-transform: none;
}

.modal_add_active .modal_content > div {
    width: 100%;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.modal_add_active .modal_content > div span {
    text-transform: uppercase;
    margin-right: 35px;
    font-size: 13px;
    font-family: "OpenSans-Semibold", sans-serif;
    width: 20px;
}

.modal_add_active .selectBox {
    max-width: 165px;
}

.modal_submit {
    width: 100%;
}

.modal_add_active .modal_submit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.modal_add_active .modal_submit a {
    font-size: 13px;
    font-family: "OpenSans-Regular", sans-serif;
}

.modal_close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#modal_made_operation .remember_lost_line label,
#modal_made_operation .checkbox__text {
    border: none;
    text-transform: none;
}

#modal_made_operation .checkbox {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal_block.bg_light {
    background: #f7f7f7;
    color: #000;
}

.modal_block.bg_light .modal_submit {
    text-align: right;
}

.modal_block.bg_light .modal_title {
    border-bottom: 1px solid #cdcfd5;
    font-size: 16px;
    font-family: "OpenSans-Regular", sans-serif;
    margin-bottom: 0;
}

/* modal change profile */
#modal_change_portfolio label {
    font-family: 'OpenSans-Semibold';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #F1F2F4;
    text-transform: none;
}

#modal_change_portfolio .group-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#modal_change_portfolio button {
    margin-top: 0;
}

.change_portfolio > .selectBox.autocomplete_body .ui-autocomplete {
    max-width: calc(100% + 2px) !important;
    width: calc(100% + 2px) !important;
    left: -1px!important;
}

#modal_change_portfolio .mo_line {
    flex-direction: column;
}

/* modal_add_portfolio */
#modal_add_portfolio label {
    font-family: 'OpenSans-Semibold';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #F1F2F4;
    text-transform: none;
}

#modal_add_portfolio .group-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#modal_add_portfolio .mo_line {
    flex-direction: column;
}

#modal_add_portfolio .select_line div.selectBox > img.arrow {
    width: 12px!important;
}

/* modal_made_operation */
#modal_made_operation form.lu label {
    line-height: 18px!important;
    text-transform: none;
}

#modal_made_operation div.selectBox > img.arrow {
    width: 12px;
}

/* add_operation */
#add_operation label {
    line-height: 0 !important;
}

.add_portfolio {
    width: 530px;
}

@media (max-width: 1199px) {
    .modal_block.bg_light .iw_line_href div:first-child {
        width: auto;
        text-align: center;
        padding: 5px;
    }

    .modal_block {
        position: absolute;
    }

    #modal_made_operation .modal_title {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    #modal_made_operation .mo_line > div:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .b-modal-default {
        width: 100% !important;
        background: #232A3F;
        right: 0;
    }

    .login_block_title {
        padding: 15px!important;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
    }

    .login_form_block {
        padding: 15px!important;
    }

    .login_form input {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.025em;
        color: #454545;
        font-family: 'OpenSans-Regular';
        height: 40px;
    }

    .login_form label {
        margin-bottom: 12px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.025em;
    }

    .login_form button {
        padding: 11px 0;
        text-transform: none;
        font-size: 13px;
    }

    .register_block {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .register_block p {
        font-size: 13px;
        line-height: 18px;
    }

    .register_href a, .login_href a {
        padding: 12px 40px;
        font-size: 13px;
    }

    .register_title {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.025em;
        margin-bottom: 10px;
    }

    .remember_lost_line .checkbox__text {
        font-size: 13px;
    }

    /* модальное окно изменить портфель */
    #modal_change_portfolio {
        padding: 15px;
    }

    #modal_change_portfolio #portfolio_delete_href span {
        display: none;
    }

    #modal_change_portfolio .mo_line, #modal_change_portfolio .select_line {
        margin-bottom: 25px!important;
    }

    #modal_change_portfolio .modal_title {
        margin-bottom: 25px;
    }

    /* modal_add_portfolio */
    #modal_add_portfolio {
        padding: 15px;
    }

    #modal_add_portfolio .mo_line, #modal_add_portfolio .select_line {
        margin-bottom: 25px!important;
    }

    #modal_add_portfolio .modal_title {
        margin-bottom: 25px;
    }

    #modal_add_portfolio #add_transaction span {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    /* modal_made_operation */
    #modal_made_operation {
        padding: 15px;
    }

    #modal_made_operation #add_transaction span {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    #modal_made_operation .modal_title {
        margin-bottom: 25px;
    }

    #modal_made_operation .group-button {
        justify-content: center!important;
    }

    #modal_made_operation .mo_line {
        margin-bottom: 25px;
    }

    /* modal_add_active */
    .modal_add_active {
        padding: 15px;
    }

    .modal_add_active .modal_content > div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .modal_add_active .selectBox {
        max-width: 100%;
        width: 100%;
        padding: 10px 15px;
    }

    .modal_add_active .selectBox > img.arrow {
        right: 5px;
    }

    .modal_add_active .modal_content > div span {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.025em;
        margin-bottom: 10px;
    }

    .modal_add_active .modal_submit a {
        min-width: 170px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* modal_change_portfolio */
    #modal_change_portfolio .group-button {
        flex-direction: column-reverse;
        align-items: center;
    }

    #modal_change_portfolio .group-button button {
        margin-bottom: 20px;
    }

    #modal_change_portfolio .group-button a, #modal_change_portfolio .group-button button {
        margin-left: 0!important;
        margin-right: 0!important;
        min-width: 290px;
        text-align: center;
    }

    #delete_portfolio_modal, #delete_operation_modal, #error_backtest_modal, #delete_operation_confirm_modal, #change_password_modal, #risk_profile_modal {
        padding: 15px;
    }
}