.pickmeup {
    margin-top: 10px;
    border-radius: 0px;
    border: 1px solid #686c7a;
    padding: 25px 30px;
    background: #22273a;
    width: 300px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: #fff;
}

.pickmeup .pmu-instance {
    width: 100%;
}

.pickmeup .pmu-instance nav {
    justify-content: space-between;
}

.pmu-month {
    font-size: 14px;
    font-family: "OpenSans-Regular", sans-serif;
    text-transform: uppercase;
}

.pmu-day-of-week {
    margin: 30px 0px 30px 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid #686c7a;
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    font-size: 14px;
    color: #fff;
}

.pmu-days {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #919191;
}

.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
    color: #5d5d5d;
    cursor: default;
}

.pickmeup .pmu-instance .pmu-days * {
    width: 14%;
}

.pickmeup .pmu-instance .pmu-days > div:nth-child(7n + 7) {
    margin-bottom: 25px;
}

.pickmeup .pmu-instance {
    height: auto;
}

.pickmeup:nth-child(2) {
    left: 0 !important;
}

@media (max-width: 1199px) {
    .pickmeup {
        padding: 5px 10px;
        width: 200px;
    }

    .pmu-day-of-week {
        margin: 5px 0px;
    }

    .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
        line-height: 1;
    }

    .pickmeup .pmu-instance .pmu-days>div:nth-child(7n+7) {
        margin-bottom: 5px;
    }
}