#price_change_graph .highcharts-legend {
    transform: translate(0,90px)!important;
}

#price_change_graph .highcharts-input-group {
    transform: translate(5px,35px)!important;
}

#price_change_graph .highcharts-range-selector-buttons {
    transform: translate(-5px,5px)!important;
}

#price_change_graph .highcharts-title {
    transform: translate(-5px,0)!important;
}

#price_change_graph .highcharts-range-selector {
    top: 10px!important;
}

#price_change_graph .highcharts-range-selector[aria-label="Select start date."] {
    left: 43px!important;
}

#price_change_graph .highcharts-range-selector[aria-label="Select end date."] {
    left: 162px!important;
}