/* страница опроса */
.av_content_centered {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 30px auto;
}

.av_content_centered h1 {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    animation: animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: both;
}

.av_content__teaser {
    font-size: 20px;
    line-height: 32px;
    padding: 20px;
    background: #272e44;
}

@keyframes animation {
    from {
        transform: translate(0, 130px);
    }
    to {
        opacity: 1;
    }
}

.av_content__teaser h2 {
    margin-top: 0;
}

.av_content__teaser_border {
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    margin-bottom: 30px;
    animation: animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1.2s;
    opacity: 0;
    animation-fill-mode: both;
}

.av-question-list {
    list-style: none;
    padding: 0;
    animation: animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: both;
}

.av-question-list li {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    background: #22273a;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.av-question-list li:hover {
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.5);
}

.av-question-list label {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
    display: block;
}

.av-question-list dd:last-child {
    margin-bottom: 40px;
}

.av-question-list .checkbox__text {
    padding-left: 30px;
}

.av-question-list .checkbox__text::before {
    top: 5px;
    border-radius: 50%;
}

.av-question-list .checkbox__text::after {
    top: 8px;
    border-radius: 50%;
}

.av-question-list label input {
    width: 0;
}

.av-question-form .blue_btn_rounded {
    animation: animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1.7s;
    opacity: 0;
    animation-fill-mode: both;
}