#result_page .about_line > div {
    margin-left: 0!important;
    margin-right: 0!important;
    min-height: 100%;
    width: auto;
}

#result_page .about_line > div:not(:last-child) {
    margin-right: 50px!important;
}

#result_page .about_line_graph svg {
    height: 200px!important;
}

#result_page > .about_line {
    margin-bottom: 30px!important;
    align-items: center;
}

#result_page .about_line_inner {
    margin-top: 0!important;
    margin-left: 0;
    margin-right: 0;
}

#result_page.result_page_account .risk_div_result svg {
    width: 100% !important;
    max-width: 300px !important;
}

#result_page.result_page_account .about_line > div:not(:last-child) {
    margin-right: 25px!important;
}

@media (max-width: 1439px) {
    #result_page.result_page_account .about_line_inner {
        flex-flow: wrap;
        justify-content: center;
    }

    #result_page.result_page_account .about_line > div {
        margin-right: 25px!important;
    }
}

@media (max-width: 1199px) {
    #result_page .about_line > div:not(:last-child) {
        margin-right: 0!important;
    }

    #result_page .about_line > div {
        width: 100%;
        max-width: 100%;
    }

    #result_page .about_line_graph svg {
        height: 100% !important;
    }

    #result_page .about_line_graph {
        height: 200px;
        margin-bottom: 0!important;
    }

    #result_page .about_line_separator {
        width: 12px!important;
        transform: rotate(90deg);
        margin: 0!important;
        margin-top: -100px!important;
    }

    #result_page .about_line_teaser {
        margin-top: -80px!important;
    }

    #result_page .about_line_inner {
        margin-top: 0!important;
    }

    #result_page .in_shad_ctn {
        display: flex;
    }

    #result_page .in_shad_ctn > div {
        width: 50% !important;
    }

    #result_page.result_page_account .about_line > div {
        margin-right: 0px!important;
    }

    #result_page .about_line .risk_div_result {
        margin-bottom: 25px!important;
    }

    #result_page.result_page_account .about_line > div:not(:last-child) {
        margin-right: 0!important;
    }
}

@media (max-width: 991px) {
    #result_page .in_shad_ctn {
        flex-direction: column;
    }

    #result_page .in_shad_ctn > div {
        width: 100% !important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

@media (max-width: 767px) {
    #result_page .about_line_graph {
        height: 100%;
    }

    #result_page .about_line_graph svg {
        transform: scale(.8);
        height: 186px!important;
    }

    #result_page .about_line_separator {
        margin-top: -80px!important;
    }

    #result_page .viewtext2 {
        font-size: 13px;
    }

    #result_page .risk_div_result {
        margin-bottom: 20px!important;
    }

    #result_page .risk_div_result svg {
        max-height: 157px!important;
    }

    #result_page .resultcenter {
        font-size: 40px;
        line-height: normal;
    }

    #result_page .table_block {
        overflow-y: scroll;
        padding-left: 0;
        width: auto;
        margin-bottom: 20px!important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #result_page .in_shad_ctn > div {
        padding-right: 0!important;
    }
}