.select_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-shrink: 0;
}

.select_line div.selectBox > img.arrow {
    position: static;
    transform: none;
}

.select_line div.selectBox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row-reverse;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    text-transform: uppercase;
    width: auto;
}

.select_line div.selectBox p {
    margin-right: 15px;
}

.select_line > a {
    background: #495df3;
    border: 1px solid #495df3;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 12px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.select_line div.selectBox.bblr {
    border-bottom-left-radius: 0px;
}

.select_line_wrapper_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
