.table {
    width: 100%;
    border: 0.5px solid #45495a;
}

.table_th {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.table_line > div:nth-child(1) {
    width: 15.4%;
}

.table_line > div:nth-child(2) {
    width: 6%;
}

.table_line > div:nth-child(3) {
    width: 9.3%;
}

.table_line > div:nth-child(4) {
    width: 13.6%;
}

.table_line > div:nth-child(5) {
    width: 8.6%;
}

.table_line > div:nth-child(6) {
    width: 13%;
}

.table_line > div:nth-child(7) {
    width: 11.7%;
}

.table_line > div:nth-child(8) {
    width: 12.6%;
}

.table_line > div:nth-child(9) {
    width: 9.8%;
}

.tar {
    text-align: right !important;
}

.table > div.bg_dark div {
    background: #1d2130;
}

.table > div:first-child div {
    text-transform: uppercase;
}

.table_line > div {
    text-align: center;
    border: 0.5px solid #45495a;
    padding: 5px;
}

.table_line .toogle_link img {
    margin-right: 10px;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.table_line .toogle_link {
    cursor: pointer;
}

.table > div:first-child {
    flex-wrap: nowrap;
}

.table_line .rotate90.true {
    transform: none;
    transition: 0.5s;
}

.table_line .sub_toggle {
    background: #1d2130;
    padding: 20px 85px;
    width: 100%;
    display: none;
}

.table_line .sub_toggle > div {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.table_line .sub_toggle > div > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    font-size: 11px;
    margin-right: 80px;
}

.table_line .sub_toggle > div > div:last-child {
    margin-right: 0;
}

.table_line .sub_toggle > div > div div {
    margin-bottom: 10px;
}

.table_line .sub_toggle > div > div div:last-child {
    margin-bottom: 0;
}

.table_line > i {
    position: absolute;
    right: -20px;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.table_line > i.active {
    color: #495df3;
}

.table_asset > div:first-child {
    text-align: left;
}

@media (max-width: 1199px) {
    .line2 .table_line>div {
        padding: 5px 1px;
        font-size: 8px;
    }

    .table_line>div:nth-child(1) {
        padding: 5px;
    }

    .table_line .sub_toggle {
        padding: 10px 20px!important;
    }

    .table_line .sub_toggle>div>div div {
        text-align: left;
        font-size: 8px;
    }

    .table>div:first-child div {
        text-transform: lowercase;
    }

    .table_line>i {
        position: absolute;
        right: -15px;
        top: 50%;
        cursor: pointer;
        transform: translate(0, -50%);
    }

    .table_line .sub_toggle>div>div {
        margin-right: 20px;
    }

    #myTabContent_bag_1 .table {
        min-width: 768px;
    }

    #myTabContent_bag_1 .line2 {
        overflow: auto;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}