/* table_account-portfolios */
.table_account-portfolios .table_line > div:nth-child(1) {
    width: 21.4%;
}

.table_account-portfolios .table_line > div:nth-child(4) {
    width: 10.6%;
}

.table_account-portfolios .table_line > div:nth-child(5) {
    width: 10.8%;
}

.table_account-portfolios .table_line > div:nth-child(6) {
    width: 10.8%;
}

.table_account-portfolios .table_line > div:nth-child(7) {
    width: 10.7%;
}

.table_account-portfolios .table_line > div:nth-child(8) {
    width: 10.6%;
}

@media (max-width: 1339px) {
    .table_account-portfolios {
        min-width: 950px;
    }

    .table_account-portfolios_scroll {
        overflow: auto;
        margin-left: -35px;
        margin-right: -35px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .table_account-portfolios .table_line > div {
        padding: 5px;
        font-size: 10px;
    }

    .table_account-portfolios > div:first-child div {
        text-transform: uppercase!important;
    }
}

@media (max-width: 1199px) {
    .table_account-portfolios_scroll {
        overflow: auto;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .table_account-portfolios > div:first-child div {
        font-size: 8px;
    }
}