.table_param table td:first-child {
    max-width: 200px;
    min-width: 200px;
}

.table_param table td {
    font-size: 12px;
    padding: 10px 7px;
}

@media (max-width: 767px) {
    .table_param table {
        min-width: 600px!important;
    }
}