/* tooltip */
.tooltipster-sidetip .tooltipster-box {
    background: #22273a;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #22273a;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #22273a;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 14px;
}