.top_title_block {
    position: relative;
    padding: 200px 0px 20px 0px;
    overflow: hidden;
    background: #212436;
    z-index: 0;
}

.top_title_block > img {
    position: absolute;
    top: -50px;
    left: 50%;
    min-width: 1920px;
    width: 100%;
    z-index: -1;
    transform: translate(-50%, 0);
}

.top_title_block > a {
    position: relative;
    z-index: 9999;
}

@media (max-width: 1199px) {
    .top_title_block {
        padding: 100px 0px 50px 0px;
    }

    .top_title_block>img {
        top: -150px;
    }
}