.zoom_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
}

.zoom_line img.arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    height: 100%;
    object-fit: none;
    border-left: 1px solid #686c7a;
    cursor: pointer;
}

.zoom_line.custom img.arrow.remove_asset {
    right: 40px;
}

.zoom_line {
    margin-bottom: 20px;
}