{% load static %}
{% load account %}
<div id="change_password_modal" style="text-align: center;" class="mfp-hide b-modal-ctn b-modal-ctn_sm">
    <button type="button" class="mfp-close"></button>
    <div class="modal_title">
        Изменить пароль
        <div></div>
    </div>
    <div class="modal_content">
        <p style="font-size: 13px;">При нажатии на кнопку "Отправить" Вам на почту будет отправлена ссылка для изменения пароля</p>
        <a href="{% url 'change_password_mail' %}" class="blue_btn">Отправить</a>
    </div>
</div>