.blue_btn {
    font-family: 'OpenSans-Regular' !important;
    font-size: 14px!important;
    line-height: normal!important;
    padding: 12px 30px;
    color: #fff;
    background: #495df3;
    border-radius: 25px;
    display: inline-block;
    transition: 0.5s;
    letter-spacing: 0.02em;
}

.blue_btn:hover,
.select_line > a:hover {
    box-shadow: 0px 0px 15px rgba(73, 93, 243, 0.7);
    transition: 0.5s;
}

button[type="submit"] {
    width: 100%;
    background: #495df3;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSans-Semibold", sans-serif;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
}

.create_btn {
    position: relative;
    font-size: 11px;
    font-family: "OpenSans-Regular", sans-serif;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.create_btn span {
    padding: 15px 30px 15px 35px;
    border-right: 1px solid #9aa4e5;
}

.create_btn img {
    padding: 15px;
}

.blue_btn.not_bg {
    background: transparent;
    border: 1px solid #c9ccd2;
    color: #000;
}

.blue_btn.not_bg:hover {
    background: #495df3;
    color: #fff;
}

.blue_btn_rounded {
    border-radius: 50px !important;
    width: 100%;
    max-width: 280px;
}

.white_btn_rounded {
    border: 1px solid #fff;
    display: block;
    width: 100%;
    border-radius: 50px;
    padding: 8px 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}

.white_btn_rounded:hover {
    background-color: #fff;
    color: #1a1d2b;
}

.start_test {
    font-size: 11px;
    line-height: 1;
    padding: 12px 30px;
    color: #fff;
    background: #495df3;
    border: #6d7080;
    border-radius: 25px;
    display: inline-block;
    transition: 0.5s;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.start_test:hover {
    box-shadow: 0px 0px 15px rgba(73, 93, 243, 0.7);
    transition: 0.5s;
}

.start_test img {
    margin-left: 10px;
}

#btn_next img, #btn_previous img {
    margin: 0;
}

#logout_btn {
    margin-left: 5px;
}

@media (max-width: 1199px) {
    #btn_next, #btn_previous {
        width: 45px;
        height: 45px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #btn_next img, #btn_previous img {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .start_test {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #button_div {
        position: relative;
        padding-bottom: 60px;
    }

    #next_div, #btn_previous, #btn_end_test {
        position: absolute;
        bottom: 0;
    }

    #next_div {
        right: 0;
        width: auto!important;
    }

    #btn_end_test {
        right: 0;
    }

    #btn_previous {
        left: 0;
    }
}