* {
    outline: none;
}

body {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
    background: #272e44;
}

a {
    color: #fff;
}

a.redirect_dummy,
a.option {
    color: #000;
}

ul {
    list-style-type: none;
}

a.option {
    display: block;
    width: auto;
}

.article_text a,
.blue_text {
    color: #495df3;
}

.ossb {
    font-family: "OpenSans-Semibold", sans-serif;
}

/* blue background */
.blue_bg {
    background: #495df3;
    color: #fff;
}

/* table */
table {
    width: 100%;
}

table td {
    border: 1px solid #626878;
}

/* overlay */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

input {
    padding: 10px 20px;
    font-size: 13px;
    background: transparent;
    border: 1px solid #686c7a;
    color: #fff;
}

input:not(.submit_input) {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

textarea {
    width: 100%;
    font-size: 13px;
    border: 1px solid #cdcfd5;
    padding: 10px 20px;
    background: transparent;
    color: #000;
    margin-bottom: 15px;
    resize: none;
}

p img {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 45px 0px;
}

.submit_input {
    border: none;
    cursor: pointer;
}

.show_validity input:invalid {
    /*input:invalid {*/
    border: 1px solid #c62f43;
}

.disabled-input {
    cursor: not-allowed;
}

.disabled-input.opacity {
    opacity: 0.3;
}

.clear_validity {
    display: none;
}

.show_validity .clear_validity {
    display: block;
    font-size: 13px;
    margin-top: 12px;
    transition: opacity 1s;
}

.clear_validity:hover {
    opacity: 0.7;
    transition: opacity 1s;
}

.rotate {
    transition: all 0.5s;
}

.rotate.true {
    transform: rotate(180deg);
}

.zindex9999 {
    z-index: 9999;
}

.bg_show {
    background: #22273a;
}

.fl {
    float: left;
    margin-right: 20px;
}

.body-fixed {
    overflow: hidden!important;
    -webkit-overflow-scrolling: touch!important;
    -webkit-transform: translateZ(0) !important;
}

.block_shadow {
    box-shadow: 0px 3px 10px rgba(233, 233, 233, 1);
}

.in_shad {
    box-shadow: inset 0px 0px 10px #0f1119;
}

.in_shad_pad {
    padding: 35px 30px;
}

.in_shad_ctn_account {
    display: flex;
}

.error_msg {
    color: red;
}

.hide {
    display: none;
}

.vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.tac {
    text-align: center;
}

.bn {
    border: none;
}

.w150 {
    width: 140px;
}

.ttu {
    text-transform: uppercase;
}

.bg_td_dark {
    background: #1d2130;
}

.m_blue {
    background: #2c334d;
}

.m_green {
    background: #20c893;
}

.m_red {
    background: #c62f43;
}

h2.info_header {
    color: #000;
    text-align: center;
}

.date_1,
.date_2 {
    text-align: center;
}

.cg {
    color: #5d6273 !important;
}

#test_chart {
    display: none;
}

html {
    height: 100%;
}

body {
    font-size: 10px;
    height: 100%;
}

.wrapper-footer-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 767px) {
    .rotate {
        flex-shrink: 0;
        margin-left: 5px;
    }
}