@font-face {
    font-family: "OpenSans-Bold";
    src: url("../../fonts/OpenSans-Bold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../../fonts/OpenSans-BoldItalic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../../fonts/OpenSans-ExtraBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../../fonts/OpenSans-ExtraBoldItalic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../../fonts/OpenSans-Italic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../../fonts/OpenSans-Light.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../../fonts/OpenSans-LightItalic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../../fonts/OpenSans-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../../fonts/OpenSans-Semibold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-SemiboldItalic";
    src: url("../../fonts/OpenSans-SemiboldItalic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl-100";
    src: url("../../fonts/MuseoSansCyrl-100.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
